################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/BookStoreApp/.vs/BookStoreApp
/BookStoreApp/obj
/BookStoreApp/.vs/ProjectEvaluation
/BookStoreApp/bin/Debug/net9.0
/BookStoreApp/BookStoreApp.csproj.user
